input.form-control {
  font-size: 40px;
  color: #333;
  padding: 40px 20px;
  cursor: pointer;
  margin-top: 20px;

  &:focus {
    border-color: #333;
    box-shadow: none;
  }
}

.todoList {
  border-radius: 10px;
  background-color: white;
  padding: 0 20px;
  margin-top: 20px;

  .noItemsMessage {
    font-size: 20px;
    color: darkgray;
    font-weight: bold;
    padding: 20px;
  }
}

.todoItem {
  padding: 20px 20px 20px 70px;
  font-size: 30px;
  color: #333;
  font-weight: bold;
  position: relative;
  border-bottom: 1px solid lightgray;
  line-height: 40px;

  &:last-child {
    border-bottom: none;
  }

  .checkbox {
    font-size: 40px;
    line-height: 40px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 20px;
    color: darkgray;
  }

  &.done {
    text-decoration: line-through;
    color: darkgray;

    .checkbox {
      color: darkgreen;
    }
  }
}