.container {
  font-family: 'Open Sans', sans-serif;
  margin-top: 200px;
}

.bottom-offset {
  margin-bottom: 20px;
}

.todo-item {

  .done {
    text-decoration: line-through;
    color: #999999;
  }
}